/build
/dist/*
/dist/
logo.psd
/dist/Anti-AFK.*
*.spec
/__pycache__/
*.log
workflow.ps1
create_release.*
version.txt
/releases/*
build_version.*
config.json
/linux/venv
/linux/__pycache__/
/linux/logs
/venv